html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font: 16px/1.5 sans-serif;
  background-color: #000000;
  color: #ffffff;
}

header {
  text-align: center;
}

header h1 {
  margin-bottom: 0;
}

header p {
  margin-top: 0;
}

svg {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

tspan {
  pointer-events: none;
  font-size: 10px;
}

#tooltip {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.25s;
  background: lightblue;
  border: 1px solid gray;
  color: #000000;
  position: absolute;
  border-radius: 10px;
  padding: 5px;
  text-align: left;
}

#tooltip p {
  margin: 0;
  font-size: 12px;
  font-style: italic;
}

footer {
  line-height: 1;
  text-align: center;
}

footer #credit {
  font-size: 0.8rem;
}

footer #credit a,
footer #credit a:hover {
  color: #ffffff;
}

footer #credit a:visited {
  color: #cccccc;
}
